$output.file("web/src/app/modules/${entity.model.var}/${entity.model.var}.module.ts")##
import {NgModule} from "@angular/core";
import {CommonModule} from "@angular/common";
import {FormsModule} from "@angular/forms";
import {PaginationComponent} from "../../shared/pagination/pagination.component";
import {${entity.name}Component} from "./${entity.model.var}.component";
import {${entity.name}ListComponent} from "./${entity.model.var}List.component";
import {${entity.name}Routes} from "./${entity.model.var}.routes";

@NgModule({
  imports: [
    CommonModule,
    FormsModule,
    ${entity.name}Routes
  ],
  exports: [],
  declarations: [
    ${entity.name}Component,
    ${entity.name}ListComponent,
    PaginationComponent,
  ]
})
export class ${entity.name}Module {
}
