$output.file("web/src/app/modules/${entity.model.var}/${entity.model.var}.routes.ts")##
import {Routes, RouterModule} from "@angular/router";
import {ModuleWithProviders} from "@angular/core";
import {${entity.name}ListComponent} from "./${entity.model.var}s.component";
import {${entity.name}Component} from "./${entity.model.var}.component";

export const routes: Routes = [
  {
    path: '${entity.model.var}s', component: ${entity.name}ListComponent,
    data: {
      title: '${entity.name} list'
    }
  },
  {
    path: '${entity.model.var}/create', component: ${entity.name}Component,
    data: {
      title: '${entity.name} create'
    }
  },
  {
    path: '${entity.model.var}/:id', component: ${entity.name}Component,
    data: {
      title: '${entity.name} view'
    }
  },
  {
    path: '${entity.model.var}/:id/edit', component: ${entity.name}Component,
    data: {
      title: '${entity.name} edit'
    }
  },
  {
    path: '${entity.model.var}/:id/copy', component: ${entity.name}Component,
    data: {
      title: '${entity.name} copy'
    }
  }
];

export const ${entity.name}Routes: ModuleWithProviders = RouterModule.forChild(routes);
