$output.file("web/src/app/modules/${entity.model.var}/${entity.model.var}.component.less")##
.item-toolbar {

}

.item {
  cursor: pointer;
}

@media (min-width: 640px) {
  .item .item-toolbar {
    position: absolute;
    bottom: 16px;
    right: 16px;
    background-color: rgba(255, 255, 255, 0.7);

    ul {
      max-width: inherit;
    }
  }

  .item:not(:hover) .item-toolbar {
    display: none;
  }
}

@media print {
  .toolbar, .item-toolbar, .pagination {
    display: none;
  }
}

