target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
gui/node_modules
gui/node
gui/dist
gui/etc
gui/target
gui/src/app/gen-modules
generator/generated
generator/dump.sql
middleware/src/main/generated-java
*.iml