$output.file("gui/src/app/gen-modules/generatedModules.ts")##
#set($modules=[])
#foreach($entity in $project.entities.list)
    #set($temp = $modules.add($entity))
#end
#foreach($module in $modules)
import {${module.name}Module} from "./${module.model.var}/${module.model.var}.module";
#end

export const modules = [
#foreach($module in $modules)
    ${module.name}Module,
#end
];
