<div class="uk-padding">
  <div class="uk-margin" *ngIf="record | async as item else loading">
    <form>

      <div class="uk-card uk-card-default uk-form-stacked">



        <div class="uk-card-body uk-column-1-2@s">
          <div class="uk-margin ">
            <label class="uk-form-label" for="form-stacked-text">Text</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text..." value="{{item.assetsname}}">
            </div>
          </div>

          <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-select">Status</label>
            <div class="uk-form-controls">
              <select class="uk-select" id="form-stacked-select">
                <option>Active</option>
                <option>Inactive</option>
              </select>
            </div>
          </div>
      </div>

      </div>
      <div class="uk-margin">

        <div class="uk-float-left">
          <button class="uk-button uk-button-secondary ">Reset</button>
        </div>
        <div class="uk-float-right">
          <button class="uk-button uk-button-primary ">Submit</button>
        </div>
      </div>
    </form>

    <ng-template #loading>
      <div class="uk-text-center uk-padding-large">
        <div uk-spinner></div>
        <div class="uk-align-center">Loading ...</div>
      </div>
    </ng-template>
  </div>
</div>
