$output.file("gui/src/app/modules/${entity.model.var}/${entity.model.var}.module.ts")##
import {NgModule} from "@angular/core";
import {CommonModule} from "@angular/common";
import {FormsModule} from "@angular/forms";
import {${entity.name}Component} from "./${entity.model.var}.component";
import {${entity.name}ListComponent} from "./${entity.model.var}List.component";
import {${entity.name}Routes} from "./${entity.model.var}.routes";
import {${entity.name}Resources} from "./${entity.model.var}.resources";
import {SharedModule} from "../../shared/shared.module";

@NgModule({
  imports: [
    CommonModule,
    FormsModule,
    SharedModule,
    ${entity.name}Routes
  ],
  exports: [],
  declarations: [
    ${entity.name}Component,
    ${entity.name}ListComponent,
  ],
  providers:[
    ${entity.name}Resources
  ]
})
export class ${entity.name}Module {
}
