$output.file("gui/src/app/gen-modules/${entity.model.var}/${entity.model.var}.resources.ts")##
import {Injectable} from "@angular/core";
import {Http} from "@angular/http";
import {Observable} from "rxjs";
import {Page} from "../../shared/page";
import {${entity.name}} from "./${entity.model.var}.model";
import "rxjs/add/operator/map";

@Injectable()
export class ${entity.name}Resources {

constructor(private http: Http) {
}

public get(id: Number): Observable<${entity.name}> {
return this.http.get('/api/${entity.model.var}?id=' + id)
.map(res =>
<Page<${entity.name}>>res.json())
.map(page => <${entity.name}[]>page.content)
.map(records => <${entity.name}>records[0]);
}

public query() {
return this.http.get('api/${entity.model.var}')
.map(res =>
<Page<${entity.name}>>res.json())
}


}
